<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>ToDoList</display-name>

	<servlet>
		<servlet-name>addtodo</servlet-name>
		<servlet-class>it.objectmethod.todo.servlets.Add</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addtodo</servlet-name>
		<url-pattern>/addnewtodo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>removetodo</servlet-name>
		<servlet-class>it.objectmethod.todo.servlets.Remove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>removetodo</servlet-name>
		<url-pattern>/removetodo</url-pattern>
	</servlet-mapping>
</web-app>